.bg-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #AEDBC6;
  /* background-image: linear-gradient(#38ef7d,#11998e); */
}

/* @media only screen and (max-width: 800px) {
  .bg-img {
    position: fixed;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
} */